$primary: #fdca00;
$cell-width: 320px;

@import "~bulma";

.navbar-item img.barcamp-logo {
  max-height: 6rem;
  max-width: calc(100vw - 24px);
}

.navbar-username {
  display: inline-flex;
  margin-bottom: 0.5em;
  padding: calc(0.5em - 1px) 1em;
}

.table-container {
  margin-left: $cell-width;
}

.grid {
  th.grid__session,
  th.grid__room {
    padding: 1em;
    text-align: center;
    vertical-align: middle;
    min-width: 3em;
    white-space: nowrap;
  }

  thead th {
    position: sticky;
    top: 0;
  }

  th:first-child {
    left: 0;
    position: absolute;
    width: $cell-width;
  }

  .grid__slot {
    border: 1px solid $grey;
    min-width: $cell-width;
    height: 140px;
  }

  .grid__event {
    position: relative;
  }

  .grid__event-name {
    @extend .is-size-4;
    font-weight: bold;
    position: absolute;
    text-transform: capitalize;
    top: 50%;
    transform: rotate(-90deg) translateY(3rem) translateX(-50%);
    transform-origin: left center;
    white-space: nowrap;
  }
}

.grid__empty-slot--target {
  background-color: $info;
  height: 140px;
}

.grid__slot--blank {
  width: 400px;
}

.talk {
  @extend .box;
  border: 1px solid $light;
  margin: 4px;
  height: 190px;
  position: relative;

  .edit {
    background-color: rgba(10, 10, 10, 0.2);
    border: 1px solid $dark;
    box-shadow: 3px 0 0 $light;
    border-radius: 100%;
    cursor: pointer;
    font-size: 1.25rem;
    height: 1.75rem;
    width: 1.75rem;
    padding: 0;
    position: absolute;
    top: $box-padding / 2;
    right: $box-padding / 2;
  }
}

.talk__speakers {
  background-color: $dark;
  border-radius: 0 0 $box-radius $box-radius;
  color: $light;
  padding: 0 $box-padding;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.talk__is-open-discussion {
  background-color: $info;
  border-radius: 0 0 0 $box-radius;
  margin-left: -$box-padding;
  margin-right: 0.5em;
  padding: 2px 0.5em 2px 0.5em;
  text-transform: uppercase;
}

.talk--new {
  height: auto;
}
