{% extends "base.html" %}
{% load static %}
{% block body %}
    <header class="navbar is-primary">
        <div class="container">
            <div class="navbar-brand">
                <div class="navbar-item">
                    <h1 class="title is-size-1"><img src="{% static "accounts/barcamplogo.png" %}" alt="BarCamp Manchester" class="barcamp-logo"></h1>
                </div>
            </div>
        </div>
    </header>
    <main class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-one-third">
                    <div class="box">
                        {% block main %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <div class="container has-text-centered content">
            <p>
                BarCamp Manchester is dedicated to providing a harassment-free unconference experience for everyone,
                regardless of gender, gender identity and expression, sexual orientation, disability, physical
                appearance, body size, race, age or religion. We do not tolerate harassment of unconference
                participants in any form. Unconference participants violating these rules may be sanctioned or
                expelled from the unconference at the discretion of the BarCamp Manchester volunteers.
                <a href="https://www.barcampmanchester.co.uk/code-of-conduct.html">Read the full code of conduct</a>.
            </p>
            <p>
                VirtualBarCamp is licensed under <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">AGPLv3</a>.
                <a href="https://github.com/cnorthwood/virtualbarcamp">Obtain the code at GitHub</a>.
                <a href="https://www.barcampmanchester.co.uk/privacy.html">Privacy Policy</a>.
            </p>
        </div>
    </footer>
{% endblock %}