{% extends "registration/base.html" %}

{% block main %}
    <h2 class="title">Change Password</h2>
    <form method="POST">
        {% csrf_token %}
        {% for error in form.non_field_errors %}
            <div class="notification is-danger">{{ error }}</div>
        {% endfor %}
        {% include "form_field.html" with label="Old password" field=form.old_password %}
        {% include "form_field.html" with label="New password" field=form.new_password1 %}
        {% include "form_field.html" with label="Repeat new password" field=form.new_password2 %}
        <div class="field">
            <div class="control">
                <button class="button is-success">Change password</button>
                <a href="/" class="button is-text">Cancel</a>
            </div>
        </div>
    </form>
{% endblock %}